.App{
  background-color: rgb(0, 20, 14);
}


.App img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.resident_card{
  background-color: #012406 ;
  color: #FFF;
  margin-right: 40rem;
  margin-left: 40rem;
  
  

}

.gris {
  color: gray;
}

.resident_card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}


.info_status{
 
  position: relative;
  
}

.status{
  
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid;

}

.card_location{

 background-color: #012406 ;
 color: #FFF;
 
 margin-right: 30rem;
 margin-left: 32rem;
 display: flex;
 flex-direction: column;
 align-items: center;

 border-radius: 30px;
 

}

.card_details{
  display: flex;
}
  
.card_details p{
  margin-right: 100px;
  margin-left: 100px;
  font-size: 20px;
 
}

